.Board {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min(100vw - 300px, 100vh);
  width: min(100vw - 300px, 100vh);

  .state {
    width: 100%;
    overflow-wrap: anywhere;
  }
}

.colonelMustard,
.missScarlet,
.professorPlum,
.mrGreen,
.mrsWhite,
.mrsPeacock,
.debug {
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.mrsWhite {
  background-color: lightslategrey;
}

.missScarlet {
  background-color: red;
}

.colonelMustard {
  background-color: yellow;
}

.mrGreen {
  background-color: green;
}

.professorPlum {
  background-color: purple;
}

.mrsPeacock {
  background-color: navy;
}

.debug {
  background-color: rgb(0, 0, 0, 0);
}