.Canvas {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  &.inGame {
    background-color: black;
  }
  min-width: 100vh;
  min-height: 100vh;
  padding: 0;
  text-align: center;

  .box {
    display: flex;
    flex-direction: row;
  }
}
