.Cards {
  display: flex;

  // .card {
  //   width: 100px;
  //   position: relative;
  //   transform: translateX(-50%);
  // }

  // > .card:first-child {
  //   transform: translateX(0);
  // }

  .card {
    position: relative;
    width: 100px;
    margin-left: -50px;
    overflow-x: hidden;
    border: 1px solid black;
    &:hover {
      transform: scale(1.2);
      z-index: 10;
      bottom: 16px;
    }
  }
}
