.Menu {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  min-width: 700px;
  min-height: 500px;

  .lineBreak {
    width: 90%;
  }

  .menuTitle {
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 36px;
    font-weight: bold;
  }

  .createGame {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .joinGame {
    margin-top: 10%;
  }
}
