.MainMenu {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  width: 700px;
  height: 450px;

  .menuContent {
    align-items: center;
    padding-top: 10px;
  }

  .menuTitle {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: bold;
  }

  .createGame {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .joinGame {
    margin-top: 20px;
  }
}
